<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="./logs" />
	<property name="ARCHIVED" value="./logs/archived"></property>

	<appender name="ROLLING_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/application.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${ARCHIVED}/application.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete 
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>
	<appender name="CONSOLE_ROLLING_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/console.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${ARCHIVED}/console.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete 
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>	

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d %-5p [%c{1}] %m%n
			</pattern>
		</encoder>
	</appender>	

 	<springProfile name="default">
		<root level="DEBUG">
			<appender-ref ref="STDOUT" />
		</root>
		<logger name="org.springframework.web"
			additivity="false" level="TRACE">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="CONSOLE_ROLLING_APPENDER" />
		</logger>		
		
		<logger name="com.lift"
			additivity="false" level="TRACE">
			<appender-ref ref="ROLLING_APPENDER" />
		</logger>
	</springProfile>		
	
 	<springProfile name="dev">
		<root level="DEBUG">
			<appender-ref ref="STDOUT" />
		</root>
		<logger name="org.springframework.web"
			additivity="false" level="DEBUG">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="ROLLING_APPENDER" />
		</logger>		
		<logger name="com.lift"
			additivity="false" level="DEBUG">
			<appender-ref ref="ROLLING_APPENDER" />
		</logger>
	</springProfile>
	
 	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
		</root>
		<logger name="org.springframework.web"
			additivity="false" level="INFO">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="ROLLING_APPENDER" />
		</logger>		
		<logger name="com.lift"
			additivity="false" level="INFO">
			<appender-ref ref="ROLLING_APPENDER" />
		</logger>
	</springProfile>	
	

</configuration>